@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proxima-nova-regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proxima-nova-semibold.ttf");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proxima-nova-bold.ttf");
    font-weight: 700;
    font-style: normal;
  }
