/* Blocks */
@import "./blocks/*.scss";
@import "./base/fonts.scss";
@import "./base/null.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
main {
    flex-grow: 1;
}
.container {
    max-width: 1272px;
    margin: 0 auto;
}
  